<table class="table table-striped text-center">
    <thead>
    <tr>
        <th class="active text-center">Category</th>
        <th class="active text-center">City</th>
        <th class="active text-center">Education</th>
    </tr>
    </thead>

    <tbody>
    {% for summary in summaries %}
        <tr>
            <td>{{ summary.category }}</td>
            <td><a href="{{ path('summary.show', {id: summary.id}) }}">{{ summary.city }}</a></td>
            <td>{{ summary.education }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(summaries) }}
</div>