{% extends 'base.html.twig' %}

{% block body %}
    <h3>Summaries</h3>

    {% if app.user %}
        {% set route = app.request.attributes.get('_route') %}

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link {% if route == 'summary' %}active{% endif %}" href="{{ path('summary') }}">Summaries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route == 'summary.own' %}active{% endif %}" href="{{ path('summary.own') }}">Own</a>
            </li>
        </ul>
    {% endif %}

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th class="active text-center">Category</th>
            <th class="active text-center">City</th>
            <th class="active text-center">Education</th>
        </tr>
        </thead>

        <tbody>
        {% for summary in summaries %}
            <tr>
                <td>{{ summary.category }}</td>
                <td><a href="{{ path('summary.show', {id: summary.id}) }}">{{ summary.city }}</a></td>
                <td>{{ summary.education }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(summaries) }}
    </div>

{% endblock %}