{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>First name</th>
                    <td>{{ summary.firstName }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{ summary.lastName }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ summary.city }}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{ summary.sex }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ summary.phone }}</td>
                </tr>
                <tr>
                    <th>Education</th>
                    <td>{{ summary.education }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ summary.category }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

