{% extends 'base.html.twig' %}

{% block body %}

{% if app.user == company.user %}
    <div class="controls">
        <a class="btn btn-success" href="{{ path('company.edit', {'id': company.id}) }}">Edit</a>
        <form method="POST" action="{{ path('company.delete', {'id': company.id}) }}" onsubmit="return confirm('Are you sure?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endif %}

<div class="media" style="margin-top: 60px;">
    {% if company.logo %}
        <div class="media-left">
            <a href="{{ company.url }}" target="_blank">
                <img class="media-object mr-3" style="width:100px; height:100px;" src="{{ asset(companies_web_directory ~ '/' ~ company.logo.filename) }}">
            </a>
        </div>
    {% endif %}

    <div class="media-body">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="media-heading"><strong>{{ company.name }}</strong></h3>
            </div>
            <div class="col-sm-2">
                <a href="{{ company.url }}">{{ company.url }}</a>
            </div>
        </div>

        <div class="py-3">
            <h4>Jobs</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in activeJobs %}
                        <tr>
                            <td><a href="{{ path('job.show', {id: job.id}) }}">{{ job.position }}</a></td>
                            <td>{{ job.location }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(activeJobs) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn btn-primary" href="{{ path('job.list') }}">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    Back to list
                </a>
            </div>
        </div>

        <div class="card mt-5">
                <div class="card-header">Feedback</div>
                <div class="card-body">
                    {% for feedback in company.feedbacks %}
                        <div class="feedback-msg">
                            <div class="feedback-name">
                                {{ feedback.user.username }}
                            </div>
                            <p class="feedback-text">{{ feedback.content }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% if app.user %}
                    <div class="card-footer">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}

