<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Jobeet - Your best job board{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home') }}">Jobeet</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-right">
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% endif %}
                <li style="margin-right: 10px">
                    <div>
                        <a href="{{ path('affiliate.create') }}" class="btn btn-default navbar-btn">Affiliates</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">Post a Job</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
