<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ 'Jobeet - Your best job board'|trans }}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {{ encore_entry_link_tags('app') }}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">{{ 'Jobeet'|trans }}</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('summary') }}">{{ 'Summaries'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('company') }}">{{ 'Companies'|trans }}</a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">{{ 'Login'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user }}</a>
                        <div class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin') }}">{{ 'Admin Panel'|trans }}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('subscribe') }}">{{ 'Subscribe'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('company.create') }}">{{ 'Register your company'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('summary.create') }}">Post your summary</a>
                            <a class="dropdown-item" href="{{ path('affiliate.create') }}">{{ 'Become an affiliates'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                        </div>
                    </li>

                    {% if is_granted('ROLE_COMPANY') %}
                        <li>
                            <div>
                                <a href="{{ path('job.create') }}" class="nav-link btn btn-default navbar-btn">{{ 'Post a Job'|trans }}</a>
                            </div>
                        </li>
                    {% endif %}

                {% endif %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.request.locale|upper }}<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        {% for locale in locales %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">
                                {{ locale|upper }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="app-content py-3">
    <div class="container">
        {% include '_flashes.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>


{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('autobahn') }}

{% block javascripts %}

{% endblock %}
</body>
</html>
