{% extends '@!EasyAdmin/crud/detail.html.twig' %}

{% block detail_fields %}
    {% set row_number = 0 %}
    {% for field in entity.fields %}
        {% set is_decoration_field = 'field-form_panel' in field.cssClass %}

        {% if loop.first and not is_decoration_field %}
            {% set row_number = 0 %}
            {{ _self.open_empty_content_panel(field) }}
        {% endif %}

        {% if is_decoration_field %}
            {% if not loop.first %}
                {{ _self.close_content_panel() }}
            {% endif %}

            {% set row_number = 0 %}
            {% if field.label is empty and field.help is empty %}
                {{ _self.open_empty_content_panel(field) }}
            {% else %}
                {{ _self.open_content_panel_with_header(field) }}
            {% endif %}
        {% endif %}

        {% block detail_field %}
            {% if not is_decoration_field %}
                {{ _self.render_field(entity, field, row_number) }}
            {% endif %}
        {% endblock %}

        {% set row_number = is_decoration_field ? row_number : row_number + 1 %}
    {% endfor %}

    <div class="container">
        <div style="margin: 20px 0; border: 1px solid #ddd">
            <div id="map" style="width: 100%; height: 250px"></div>
        </div>
    </div>

    {{ _self.close_content_panel() }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="https://api-maps.yandex.ru/2.1/?apikey=9376ead6-de00-43bc-ab49-78a4cab93771&lang=ru_RU" type="text/javascript"></script>

    <script type='text/javascript'>
        ymaps.ready(init);
        function init(){
            let geocoder = new ymaps.geocode(
                '{{ entity.instance.address ~ ', ' ~ entity.instance.location }}',
                { results: 1 }
            );
            geocoder.then(
                function (res) {
                    let coord = res.geoObjects.get(0).geometry.getCoordinates();
                    let map = new ymaps.Map('map', {
                        center: coord,
                        zoom: 16,
                    });
                    map.geoObjects.add(new ymaps.Placemark(coord));
                }
            );
        }
    </script>
{% endblock %}
